body {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
u {
  text-decoration: none;
}
em {
  font-style: normal;
}
.box {
  width: 912px;
  height: 422px;
  background: #7367c8;
  margin: 70px auto;
  padding-top: 28px;
}
#text1 {
  width: 340px;
  height: 390px;
  border: 1px solid #432495;
  border-radius: 5px;
  margin-left: 28px;
  float: left;
  background: #fff;
}
u {
  display: inline-block;
  width: 100px ;
  height: 81px;
  background: #6de0fd;
  float: left;
  border-radius: 5px;
  margin: 137px 36px 0px 36px;
  text-align: center;
  color: #fff;
  position: relative;
}
u span {
  font: 50px/50px "微软雅黑";
}
strong {
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 30px;
}
strong span {
  font: 18px/30px "微软雅黑";
}
strong em {
  font: 18px/30px "微软雅黑";
}
#text2 {
  width: 340px;
  height: 390px;
  border: 1px solid #432495;
  border-radius: 5px;
  float: left;
  background: #fff;
}
